.border {
	border: 1px solid #ccc;
	border-radius: 3%;
	padding: 30px 1px;
}
.round {
	padding: 5px;
	border: solid 1px grey;
	border-radius: 5%;
}
.error {
	color:red;
	font-size: small;
}
.w5 {
	width:5%;
	text-align: center;
}
.w70 {
	width: 70%;
}
.w65 {
	width:65%;
}
.border2 {
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
}