.border {
	border: 1px solid #ccc;
	border-radius: 3%;
	padding: 30px 1px;
}
.border2 {
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
}
.border3 {
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 5px;
	width: 50%;
}
.border4 {
	border: 1px solid #ccc;
	padding:20px;
}
.round {
	padding: 5px;
	border: solid 1px grey;
	border-radius: 0%;
	width: 160px;
}
.error {
	color:red;
}
.errorborder {
	border: 1px solid #ccc;
	padding: 30px 1px;
}
.w5 {
	width:5%;
	text-align: center;
}
.w70 {
	width: 70%;
}
.w65 {
	width:65%;
}

.evaltable table {
	border: 2px solid #ccc;

	width: 100%;
}
.evaltable td {
	border: 1px solid #ccc;
	padding: 5px;

}
.eval {
	padding: 4px;
	border: 1px solid #ccc;
}
.thead {
	color: #000;
	font-size: 17px;
}
#thank {
	width: 14%;
}
#thank a:after {
	text-decoration: none;
}
.thankyouMsg h1 {
	font-size: 50px;
	margin-bottom: 30px;
	text-align:center;
}
.thankyouMsg h3 {
	text-align: center;
	font-size: 25px;


}
.thankyouMsg p {
	text-align: center;
	font-size:15px;
}
th {
	padding: 5px;
	color: #000;
}
.dean_form td input {
	border:none;
	background-color: #fff;
}
.red {
	color: red;
}
.green {
	color: green;
}
.black-btn {
	font-family: "open_sansregular";
	background: none repeat scroll 0% 0% #3B3B3B;
	color: #FFF;
	text-transform: uppercase;
	font-size: 13px;
	padding: 12px 20px;
	border: medium none;
	border-radius: 3%;
	cursor: pointer;
	width: 160px;
	line-height: 1.5em;
	outline: medium none;
	transition: all 0.3s ease-in-out 0s;
}
.black-btn:hover {
	background: #FF5454;
}
.margin {
	margin-bottom: 30px;
}
.not-center {
	text-align: left;
}
.not-center th {
	padding-left: 0px;
}
.adminAdd input {
	width: 230px;
}
.adminAdd select {
	width: 230px;
}

hr {
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.thankyouMsg a,
.thankyouMsg a:link,
.thankyouMsg a:visited,
.thankyouMsg a:active {
    color: #000000; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}
.thankyouMsg a:hover {
	color:#F00;
}

#tabbox
{
	height:40px;
}
#panel
{
	background-color:#FFF;
	height:300px;
	
}
.tab
{
background: #FFF;
display: block;
height: 40px;
line-height: 40px;
text-align: center;
width: 80px;
float: right;
font-weight: bold;
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-radius: 3px 3px 0px 0px;
}
.loginbox {
	padding: 0px;
	border-radius: 3px;
}
.loginbox a
{
color: #000;
margin: 0;
padding: 0;
text-decoration: none;
}
.evaluate
{
	margin-left:8px;
	font-size:14px;
	
}
#login {
	font-size:14px;
}
.select
{
	background-color:#dedede;
	
}
#loginbox
{
	height:300px;
	padding:10px;
}
#evalbox
{
	height:300px;
	padding:10px;
	display:none;
}

