.border {
	border: 1px solid #ccc;
	border-radius: 3%;
	padding: 30px 1px;
}
.round {
	padding: 5px;
	border: solid 1px grey;
	border-radius: 5%;
}
.error {
	color:red;
	font-size: small;
}
.w5 {
	width:5%;
	text-align: center;
}
.w70 {
	width: 70%;
}
.w65 {
	width:65%;
}
.border2 {
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
}
.evaltable table {
	border: 2px solid #ccc;

	width: 100%;
}
.evaltable td {
	border: 1px solid #ccc;
	padding: 5px;

}
.eval {
	padding: 4px;
	border: 1px solid #ccc;
}
.thead {
	color: #000;
	font-size: 17px;
}
#thank {
	width: 14%;
}
#thank a:after {
	text-decoration: none;
}
.thankyouMsg h1 {
	font-size: 50px;
	margin-bottom: 30px;
	text-align:center;
}
.thankyouMsg h3 {
	text-align: center;
	font-size: 25px;


}
.thankyouMsg p {
	text-align: center;
	font-size:15px;
}